.body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #052159;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  a{
    position: relative;
    color: #fff;
    text-decoration: none;  
  }
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  
  .left-Register {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .left-Register h1 {
    color: #77ffc0;
  }
  
  .right-Register {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-Register {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #113059;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
  }
  
  .card-Register h1 {
    color: #91B7D9;
    font-weight: 800;
    margin: 0;
  }
  
  .chart{
    width: 80%;
  }
  
  
  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
  }
  
  .form-field {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
    outline: none;
  }
  
  .form-group label {
    color: #f0ffffde;
    margin-bottom: 10px;
  
  }
  
  .form-error {
    display: block;
    color: #fff;
    font-size: 0.8em;
  }
  
  .form-field ::placeholder {
    color: #f0ffff94;
  }
  
  .button {
    width: 100%;
    padding: 16px 0px;
    border: none;
    border-radius: 6px;
    outline: none;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 3px;
    cursor: pointer;
    margin-top: 15px;
    background: #B3DAF2;
    color: black;
  }
  
  .user-links{
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  @media (max-width: 950px){
    .card-Register{
      width: 100%;
    }
  }
  
  @media (max-width: 600px){
    .body{
      flex-direction: column;
    }
  
    .left-Register {
      width: 100%;
      height: auto;
    }
  
    .right-Register {
      width: 100%;
      height: auto;
    }
  
    .card-Register {
      width: 90%;
      
    }
  }
  
  